<h3>Projects</h3>
<p><%= link_to 'New Project', new_project_path %></p>
<% @projects.each do |i| %>
  <h3><%= i.title %></h3>
  <h3><%= i.grade %></h3>
  <p><%= i.prize %></p>
  <p><%= i.notes %></p>
  <p><%= i.owner_id %></p>
  <%= link_to 'Show Project', project_path(i) %>
  <%= link_to 'Edit Project', edit_project_path(i) %>
  <%= link_to 'Remove Project', i, method: :delete %>
<% end %>
